.header {
  margin: 0 auto;
  max-width: 1184px;
  padding-bottom: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .header {
    max-width: calc(100% - 96px);
  }
}